# <center>TP Volcans </center>

<div style="text-align: center;">
    <img src="../images/volcans.png" width="500" height="400">
</div>

On commence par charger les décorateurs python pour faire du sql dans un notebook et la base de données sur laquelle on va travailler.

In [1]:
%load_ext sql

In [3]:
%sql sqlite:///volcans.db

In [4]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///volcans.db
Done.

[('volcans',)]

In [5]:
%%sql
PRAGMA table_info(volcans);

 * sqlite:///volcans.db
Done.

[(0, 'volcano', 'TEXT', 0, None, 1),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'wiki', 'TEXT', 0, None, 0),
 (3, 'elevation', 'INTEGER', 0, None, 0),
 (4, 'lat', 'REAL', 0, None, 0),
 (5, 'lon', 'REAL', 0, None, 0),
 (6, 'eruption_date', 'TEXT', 0, None, 0),
 (7, 'eruption_year', 'INTEGER', 0, None, 0),
 (8, 'abstract', 'TEXT', 0, None, 0),
 (9, 'photo', 'TEXT', 0, None, 0)]